.p-title {
  .en {
    font-size: 46px;

    &::before {
      height: 40px;
      width: 40px;
    }

    &::after {
      width: 120px;
    }
  }

  .ja {
    font-size: 26px;
    padding-left: 100px;

    &::before {
      width: 80px;
    }
  }
}

.top-view {
  margin-top: 85px;

  .hero {
    &__text {
      h2 {
        font-size: 36px;
      }

      &::after {
        left: 236px;
        bottom: 190px;
      }
    }
  }
}

.c-topview {
  margin-top: 90px;

  .c-title {
    .en {
      font-size: 54px;

      &::before {
        height: 50px;
        width: 50px;
      }
    }

    .ja {
      font-size: 28px;
    }
  }
}

.p-works {

  .hero {
    position: relative;
    overflow: hidden;

    .more-btn {
      position: absolute;
      right: 10px;
      bottom: 0;
    }
  }

  .swiper-container2 {
    width: 95%;
    margin-right: 0;
  }
}

.p-contact {
  & .p-title {
    .en {
      padding-right: 140px;
    }
  }

  br {
    display: none;
  }
}